<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <body>
        <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"> -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('books_list0') }}">Books <span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <a href="{{ url_for('logout') }}" class="btn btn-secondary my-2 my-sm-0" type="submit">Log out</a>
              </form>
            </div>
          </nav>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
